
*.vsidx
.vs/UnfinishedSetnour6Mod/v17/.suo
.vs/*
obj/*
bin/*
/.vs/UnfinishedSetnour6Mod/FileContentIndex/*.vsidx
/.vs/*
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/*
/obj/Debug/UnfinishedSetnour6Mod.csproj.AssemblyReference.cache
/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/.vs/UnfinishedSetnour6Mod/v17/.suo